<div class="container-fluid row c-vh-100">
    <div class="col-md-3 border-right bg-second  mx-h-100 pt-5">
        <div class="d-flex">
            <h4>Repository</h4>
            <%= link_to "New", new_repo_path, class: 'btn btn-success ml-auto' %>
        </div>
        <ul class="list-group">
            <% @repos.each do |repo| %>
            <li class="list-group-item repo list-group-item-action">
                <% if repo.type_repo == 'private' %>
                    <i class="fa fa-lock" aria-hidden="true"></i>
                <% else %>
                    <i class="fa fa-tv" aria-hidden="true"></i>
                <% end %>
                <%= link_to repo.name, repo %>
            </li>
            <% end %>
        </ul>
    </div>
    <div class="col-md-6 bg-main mx-h-100 pt-5">
        <ul class="list-group">

            <% @articles.each do |article| %>
            <li class="list-group-item">
                <div class="action-header d-flex">
                <p class="f-16 mr-1"> 
                    <%= link_to article.title, article %>
                </p>
                <small>
                     created a repository 
                </small>
                <p class="f-16 ml-1"> <%= article.summary %></p>
                <small class="ml-2">
                     2 days ago
                </small>
                </div>
                
                <div class="action-card bg-second rounded p-3">
                   <p class="f-18"> <%= article.summary %></p>
                   <small>Updated Dec 23</small>
                   <button class="card-action-btn" onclick="paintIt(event)">
                     <i class="far fa-star mr-1" aria-hidden="true"></i>
                     Star
                </button>
                </div>
                
            </li>
            <% end %>
        </ul>
    </div>
    <div class="col-md-3 bg-main  mx-h-100 pt-5">
    </div>
</div>


<script>

window.paintIt = function (event) {
    event.preventDefault();
    event.target.innerHTML = ""
    event.target.innerHTML = "<i class='fa fa-star mr-1' aria-hidden='true'></i> Stared"
}

</script>