<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col md-6">
            <p id='alert'><%= alert %></p>
            <h1>Create your account</h1>
            <%= form_with(model: user, local: true) do |form| %>
            <% if user.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

                <ul>
                    <% user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
            <% end %>

            <div class="field">
                <%= form.label :email %>
                <%= form.text_field :email %>
            </div>

            <div class="field">
                <%= form.label :password %>
                <%= form.password_field :password %>
            </div>

            <div class="field">
                <%= form.label :password_confirmation %>
                <%= form.password_field :password_confirmation %>
            </div>

            <div class="actions">
                <%= form.submit 'Create account', class: 'w-100 btn btn-primary' %>
            </div>
            <% end %>

            <div class="d-flex">
                <p>Already have an account? </p><%= link_to 'Sign in', login_path, class: 'btn-link ml-3' %>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

</div>